.border {
  border: 3px solid black;
  width: 500px;
  height: 500px;
  display: inline-block;
}
.heading {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-bottom: 0px;
  /* font-size: 4px; */
}

.below-headingg {
  font-size: 10px;
  position: relative;
  left: 120px;
  font-family: "roboto";
  color: black;
}

.input {
  width: 400px;
  height: 35px;
  position: relative;
  /* left: 46px; */
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: larger;
  color: grey;
  padding-left: 10px;
}
.extra {
  margin-top: 30px;
}

button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: black;
  width: 140px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: medium;
  font-weight: bolder;
}

.below-button {
  font-family: "roboto";
  font-size: 12px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 5px;
  color: black;
}

.last-message {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-family: "roboto";
}

.last-message a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  fill: black;
}
