@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

.plogin-heading {
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  /* text-align: center; */
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 30px;
}

.btn-long {
  width: 400px;
}

.text-smallest {
  font-size: 12px;
  margin-top: 15px;
}

.text-modalpage2 {
  margin: 15px 0px 30px 0px;
}

.input-modalPage3 {
  width: 300px;
}

.container-row {
  display: flex;
  align-items: flex-end;
}

.mediumText-modalPage3 {
  font-size: 13.5px;
  margin-left: 10px;
}
