.community-box {
  position: absolute;
  width: 309px;
  height: 236px;
  background-color: white;
  left: 95px;
  top: 487px;
}

.community {
  font-family: "Zilla Slab Highlight", cursive;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 18px;
}
.community-text {
  width: 111px;
  height: 27px;
  border: 3px solid black;
  position: relative;
  top: 15px;
  left: 75px;
  padding-left: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.5px;
}
.community-icon {
  position: relative;

  top: 14.5px;
  left: -35px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 5px;
  background-color: lightgrey;
}

.community-topic {
  font-family: "Port Lligat Slab", serif;
  position: relative;
  top: 35px;
  left: 20px;
  margin-bottom: 15px;
}

.community-button {
  width: 70px;
  height: 25px;
  position: relative;
  right: 10px;
  top: 50px;
  font-size: 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: #333333;
}
