.boxx {
  height: 280px;
  width: 310px;
  background-color: white;
  position: absolute;
  left: 95px;
  top: 200px;
}

.explore {
  font-family: "Zilla Slab Highlight", cursive;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 18px;
}
.nav-textii {
  width: 114px;
  height: 27px;
  border: 3px solid black;
  position: relative;
  top: 15px;
  left: 115px;
  padding-left: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.5px;
}
.iconn {
  position: relative;
  top: 14.5px;
  left: 4px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 5px;
  background-color: lightgrey;
}

.explore-button {
  width: 70px;
  height: 25px;
  position: relative;
  right: 10px;
  top: 30px;
  font-size: 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: #333333;
}
