.message-box {
  width: 300px;
  background-color: #c4c4c4;
  height: 40px;
  position: fixed;
  font-family: Poppins;
  font-weight: bolder;
  padding-left: 20px;
  font-size: large;
  bottom: 0px;
  right: 0px;
  padding-top: 5px;
  letter-spacing: 1px;
}
