.Pnav {
  height: 70px;
  background-color: white;
}
.nav-texti {
  width: 277px;
  height: 32px;
  border: 3px solid black;
  position: relative;
  top: 15px;
  left: 70px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.5px;
}
.icon {
  position: relative;
  top: 12.5px;
  right: 204px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 8px;
  background-color: lightgrey;
}

* {
  margin: 0;
  padding: 0;
}

.message-icon1 {
  position: relative;
  left: 600px;
  top: 10px;
}
.message-icon1 span {
  position: relative;
  top: 20px;
  right: 40px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.message-icon2 {
  position: relative;
  left: 580px;
  top: 10px;
}
.message-icon2 span {
  position: relative;
  top: 20px;
  right: 35px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.message-icon3 {
  position: relative;
  left: 580px;
  top: 10px;
}
.message-icon3 span {
  position: relative;
  top: 20px;
  right: 44px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.message-icon4 {
  position: relative;
  left: 560px;
  top: 10px;
}
.message-icon4 span {
  position: relative;
  top: 20px;
  right: 32px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
