.boxup2 {
  border: 2px solid black;

  width: 620px;
  background-color: white;
  display: inline-block;

  margin-left: 420px;
  margin-right: 454px;
  margin-top: 10px;
  /* margin-bottom: 12px; */
}

.post-title {
  font-family: "Port Lligat Slab", serif;
  /* position: relative; */
  font-size: 25px;
  /* top: 20px; */
  /* left: 30px;*/
  overflow: hidden;
  width: 500px;
  margin-bottom: 20px;
  margin-left: 30px;
  line-height: 30px;
}

.post-content {
  font-family: "Rufina", serif;
  /* position: relative; */
  /* top: 40px; */
  /* left: 30px; */
  width: 500px;
  word-wrap: break-word;
  margin-left: 30px;
  margin-top: 10px;
}

.line {
  width: 150px;
  margin-left: 30px;
  height: 2.5px;
  background-color: black;
  /* position: relative; */
  /* top: 55px; */
  /* left: 30px;*/
  margin-bottom: 0.5rem;
  margin-left: 30px;
}
.button-react {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 100px;
  height: 36px;
  /* position: relative; */
  /* top: 80px; */
  /* right: 200px;*/
}
.button-express {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 100px;
  height: 36px;
  /* top: 35px; */
  /* position: relative; */
  /* left: 205px;*/
}
.line2 {
}

.bottom-line {
  margin-bottom: 0;
  height: 0.5px;
  background-color: black;
}
.tagname {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: "Rufina", serif;
  font-size: 12px;
}

.forflexingbutton {
  display: flex;
  justify-content: center;
}
