@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

.boxup1 {
  border: 2px solid black;
  height: 100px;
  width: 315px;
  background-color: white;
  display: inline-block;

  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  left: 93px;
}
.picon {
  position: absolute;
  top: 22px;
  left: 17px;
}

.searchbox-input {
  position: absolute;
  top: 34px;
  left: 85px;
  border-radius: 10px;
  height: 20px;
  width: 180px;
  padding-left: 10px;
  border: 2px solid black;
}

/* .modal-backdrop {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .modal-content {
    width: 618px;
    border-radius: 0px;
    height: 650px;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 80px 422px;
    /* width: 650px; */
/* display: relative; */
/* justify-content: center; */
/* border-radius: 0px; */
/* } */
/* } */

.post-text {
  font-family: "Rufina", serif;
  position: relative;
  left: 30px;
  top: 15px;
  border: none;
  margin-bottom: 30px;
  word-wrap: break-word;
}
.post-title {
  font-family: "Rufina", serif;
  position: relative;
  left: 0px;
  top: 15px;
  border: none;
  margin-bottom: 30px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.sample {
  border-radius: 20px;
  width: 112px;
  font-family: "Poppins", sans-serif;
  height: 35px;
}

.post-button {
  border-radius: 20px;
  width: 112px;
  height: 34px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}
.post-buttonline {
  margin-top: 15px;
  margin-bottom: 0;
  height: 1px;
  background-color: #000028;
  width: 660px;
  position: relative;
  /* border-block-start-width: 0px; */
  right: 16px;
  margin-top: 5px;
}
.button-dot {
  border: none;
  /* border: 2px solid #9fa2a4; */
  height: 18px;
  border-radius: 5px;
  background-color: white;
}

.dots {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
  line-height: 0;
  margin-top: -10px;
  /* letter-spacing: -2px; */
  color: black;
}
.dot-movement {
  position: absolute;
  display: inline-block;
  /* display: inline-block; */
  right: -1px;
  top: 22px;
  width: -14px;
}

.searchBox-heading-container {
  /* display: flex;
  align-items: center; */
}

.modal-body {
  padding-bottom: 0px;
}

.searchbox-modal {
  max-width: 620px;
  position: relative;
  right: 37px;
  top: 53px;
}

.searchBox-bottom-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchBox-tags-input {
  display: inline-block;

  outline: none;
  border: none;
  padding: 10px;
  background: #c4c4c4 40%;
  font-family: "Rufina", serif;
  /* font-size: 25px; */
}
.searchBox-tags-input::placeholder {
  color: #000000 80%;
  padding: 10px;
  font-size: 13.5px;
}

.modalfull {
}

.post-taglines {
  font-family: "Rufina", serif;
  font-size: 14px;
  padding: 4px;
}

.dropdown-styling {
  margin-top: -17px;
  min-width: 7rem;
  margin-left: 54px;
  font-family: "Rufina", serif;
  border-radius: 0px;
}
