.boxup3 {
  border: 2px solid black;
  height: 300px;
  width: 310px;
  background-color: white;

  position: absolute;

  left: 1056px;
  top: 91px;
}

.writing {
  /* color: white;
  background-color: black; */
  display: inline-block;
  position: absolute;
  font-family: "Zilla Slab Highlight", cursive;
  margin-left: 23px;
  margin-top: 20px;
}

.searchbox-button {
  width: 80px;
  height: 30px;
  position: relative;
  top: 75px;
  font-size: 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: #333333;
}
