.trending-box {
  position: absolute;
  background-color: white;
  height: 290px;
  width: 310px;
  left: 1058px;
  top: 400px;
}
.trending-text {
  font-family: "Zilla Slab Highlight", cursive;
  text-align: center;
  position: relative;
  top: 15px;
  right: 10px;
}

.trending-button {
  width: 80px;
  height: 30px;
  position: relative;
  top: 50px;
  font-size: 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: #333333;
}

.forcolor {
  background-color: black;
}
