.field-follow {
  height: 25px;
  width: 60px;
  font-size: 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: #333333;
  position: relative;
  top: 20px;
  left: 90px;
  margin-top: 0px;
}

.field-span {
  font-family: "Port Lligat Slab", serif;
  position: relative;
  top: 40px;
  left: 20px;
}

.field-box {
}
