.trending-icon {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 8px;
}

.trending-div {
  display: inline-block;
  position: relative;
  top: 40px;
  margin-bottom: 15px;
}

.trending-div1 {
  /* display: inline-block; */
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.trending-allinone {
  display: inline-block;
  position: relative;
  left: 20px;
}
.trending-div2 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  /* display: inline-block; */
}
.trending-div3 {
  /* display: inline-block; */
  font-family: "Port Lligat Slab", serif;
  font-weight: bolder;
}
