.full-base {
  height: 80px;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
}

.content {
  display: inline-block;
  position: relative;
  left: 1000px;
  margin-top: 6px;
}

.content i {
  margin-right: 30px;
}

.span1 {
  position: absolute;
  top: 50px;
  /* right: 1000px; */
}
.span2 {
  left: 1px;
  margin-left: 80px;
  /* right: 600px; */
}
.span3 {
  position: absolute;
  top: 50px;
  /* right: 700px; */
}
.span4 {
  position: absolute;
  top: 50px;
  /* right: 800px; */
}
.span5 {
  position: absolute;
  top: 50px;
  /* right: 900px; */
}
