.heading-icon {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: -5px;
}

.heading-div {
  margin-top: 5px;
  margin-left: 10px;
}

.heading-div1 {
  /* display: inline-block; */
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.heading-allinone {
  display: inline-block;
  position: relative;
  left: 20px;
}
.heading-div2 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  /* display: inline-block; */
}
.post-title {
}
