.joinus-heading {
  font-family: "Pacifico", cursive;
  font-size: 72px;
  text-align: center;
  margin-bottom: 50px;
}

.joinus-component {
  text-align: center;
}

.joinus-span {
  margin-left: 180px;
}
