.profile-icon {
  display: inline-block;
}

.profile-box {
  position: relative;
  top: 60px;
  left: 20px;
  margin-bottom: 12px;
}

.span11 {
  position: relative;
  bottom: 20px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.span22 {
  position: relative;
  right: 88px;
  bottom: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
}
